name: Pull Request

on: [ pull_request ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-flutter
      - run: flutter analyze
      - run: dart format -o none --set-exit-if-changed .

  test:
    needs: analyze
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-flutter
      - run: flutter test
