name: Release Web

on:
  push:
    branches:
      - main

jobs:
  release-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-flutter
      - name: Build
        run: flutter build web --no-web-resources-cdn --base-href /velik/
      - name: Upload
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
